@import "bootstrap-sprockets";
@import "bootstrap";



.image{

  height: 30px;

}

.center{

padding-left: 10%;

}

.small{
  background-color: blue;
  top:10px;
  height: 35px;

}

.small2{

 bottom: 15px;
  color: whitesmoke !important;
}


.vertical-center{

  display: flex;
  align-items: center;
}
