<div class="row">
  <div class="col-md-6 col-md-offset-2" >
    <%= form_for(:resset,url: reset_passwords_path) do |f|%>
        <%= f.label :email %>
        <%= f.text_field :email, class:'form-control' %>
        <br>
        <%= f.submit "Solicitar cambio de contraseña", class:'btn btn-primary' %>
    <% end %>
  </div>
</div>